<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Додавання медкарти</h4>
        </div>
        <div class="widget-body">
            <form name="addMed" role="form" method="post" id="jForm" ng-controller="MedcardController">
                <div class="row">
                    <!-- innerL-->
                    <div class="col-md-6">
                        <div class="innerL">
                            <div class="form-group">
                                <label for="name3">Номер медкарти</label>
                                <div class="input-group">
                                    <div class="input-group-addon">{{currentYear}}</div>
                                    <input type="text" name="id" class="form-control" placeholder="#" ng-model="medcard.subNumber">
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /innerL-->
                    <!-- /innerR-->
                    <div class="col-md-2">
                        <div class="innerR">
                            <div style="padding-top: 25px;">
                                <button type="button" class="btn btn-primary" ng-click="addMedcard(medcard)"><i class="fa fa-plus"></i> Додати</button>
                            </div>
                        </div>
                        <!-- /innerR-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>