<div class="tab-pane" id="tab3">
    <form class="form-horizontal" name="form" role="form" id="jForm" ng-controller="AdmissionDepartmentController">
        <div class="row" >
            <div class="col-md-6 innerLR">
                <div class="widget">
                    <div class="widget-head">
                        <h4 class="heading">Запис лікаря приймального відділення</h4>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="complaint3" class="col-sm-2 control-label">Скарги</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="5" name="complaint" id="complaint3" ng-model="medcard.treatment.admissionDepartment.complaint"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="anamnesis3" class="col-sm-2 control-label">Анамнез хвороби</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="6" name="anamnesis" id="anamnesis3" ng-model="medcard.treatment.admissionDepartment.diseaseAnamnesis"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="anamnesis3" class="col-sm-2 control-label">Анамнез<br/> життя</label>;
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="6" name="anamnesis" id="anamnesis3" ng-model="medcard.treatment.admissionDepartment.lifeAnamnesis"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="condition3" class="col-sm-2 control-label">Об'єктивний стан хворого</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="10" name="condition" id="condition3" ng-model="medcard.treatment.admissionDepartment.objectiveState"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="updateAdmissionDepartment(medcard.treatment.admissionDepartment)"><i class="fa fa-check"></i> Оновити</button>
            </div> 

            <div class="col-md-6 innerLR">
                <div class="widget">
                    <div class="widget-head">
                        <h4 class="heading">Скарги, анамнез хвороби, анамнез життя</h4>
                    </div>
                    <div class="widget-body" style="height: 687px;">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Анамнез життя</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows='31' ng-model="medcard.treatment.admissionDepartment.other"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </form>
</div>