<div class="tab-pane" id="tab2" ng-controller="TreatmentController">
    <form class="form-horizontal" name="form" role="form">
        <div class="innerLR">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget">
                        <div class="widget-head">
                            <h4 class="heading">Діагноз</h4>
                        </div>
                        <div class="widget-body">
                            <div class="row" ng-controller="IcdController">
                                <div class="col-md-12" ng-controller="TreatmentDiagnosisController">
                                    <div class="form-group col-md-12 mgnB-5">
                                        <label for="diagnosis3">Діагноз заключний клінічний</label>
                                        <textarea class="form-control" ng-model="medcard.treatment.treatmentDiagnosis.final"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 mgnB-5">
                                        <label for="mainDiag3">Основний</label>
                                        <textarea class="form-control"ng-model="medcard.treatment.treatmentDiagnosis.main"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 mgnB-5">
                                        <label for="complication3">Ускладнення основного</label>
                                        <textarea class="form-control"ng-model="medcard.treatment.treatmentDiagnosis.complication"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 mgnB-5">
                                        <label for="concomitant3">Супутній</label>
                                        <textarea class="form-control"ng-model="medcard.treatment.treatmentDiagnosis.related"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row innerLR">
                        <label>Відмітки про видачу з листка непрацездатності</label>
                        <div ng-controller="EfficiencyMarkController">
                            <div class="gridStyle effiGrid" ng-grid="efficiencyMarksGrid"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="widget">
                        <div class="widget-head">
                            <h4 class="heading">Відмітки</h4>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12 mgnB-5">
                                        <label for="conclusion">Висновок для тих, хто поступає на експертизу</label>
                                        <textarea rows="5" name="conclusion" class="form-control" ng-maxlength='250' ng-model="medcard.treatment.amount"></textarea>
                                        <div class="alert alert-error invalid" ng-show="form.conclusion.$error.maxlength" >
                                            <i class="fa fa-exclamation"></i> Висновки не повинні перевищувати 250 символів
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 mgnB-5" ng-controller="ContractController" ng-init="allContracts()">
                                        <label for="labels">Відмітки щодо страхування</label>
                                        <!--textarea rows="5" name="labels" class="form-control" ng-maxlength='45' ng-model="medcard.treatment.insurance"></textarea-->
                                        <select ng-model="medcard.treatment.contract" class="form-control mgnB-5">
                                            <option ng-repeat="contract in contracts" value="{{contract.id}}">{{contract.title}} {{contract.description}}</option>
                                        </select>
                                        <!--div class="alert alert-error invalid" ng-show="form.labels.$error.maxlength" >
                                            <i class="fa fa-exclamation"></i> Відмітки не повинні перевищувати 45 символів
                                        </div-->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group col-md-12 mgnB-5">
                                        <textarea class="form-control" rows="17" ng-model="medcard.treatment.otherTreatment"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group col-md-12 mgnB-5">
                                         <label for="otherTreat3">Інші види лікування</label>
                                        <select id="otherTreat3" name="otherTreat" class="form-control mgnB-5" ng-model="medcard.treatment.otherTreatmentTypes">
                                            <option value="1">Спеціальне лікування</option>
                                            <option value="2">Поліативне</option>
                                            <option value="3">Симптоматичне лікування</option>
                                        </select>
                                        <label for="efficiency3">Працездатність</label>
                                        <select id="efficiency3" name="efficiency" class="form-control" ng-model="medcard.treatment.restoredEfficiency">
                                            <option value="1">Відновлена повністю</option>
                                            <option value="2">Знижена</option>
                                            <option value="3">Тимчасово втрачена</option>
                                            <option value="4">Стійко втрачена</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 mgnB-5">
                                        <label for="treatRes3">Результати лікування</label>
                                        <select id="treatRes3" name="treatRes" class="form-control" ng-model="medcard.treatment.result">
                                            <option value="1">Одужання</option>
                                            <option value="2">Поліпшення</option>
                                            <option value="3">Погіршення</option>
                                            <option value="4">Без змін</option>
                                            <option value="5">Помер</option>
                                            <option value="6">Переведений(а)</option>
                                            <option value="7">Здоровий(а)</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 mgnB-5">
                                        <label>Особливі відмітки</label><br />
                                        <label>Онкоогляд</label>
                                        <input type="date" class="form-control" ng-model="medcard.treatment.oncologicalObserving.date">
                                    </div>
                                    <div class="form-group col-md-12 mgnB-5">
                                        <label>Флюорографія</label>
                                        <input type="date" class="form-control" ng-model="medcard.treatment.xrayObserving.date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row innerLR">
            <div class="col-md-12" ng-controller="OperationController">
                <div class="gridStyle" ng-grid="operationGrid"></div>
            </div>
        </div>     
        <div class="innerL">
            <button class="btn btn-primary" ng-click="updateTreatment(medcard.treatment)"><i class="fa fa-check"></i> Оновити</button>
        </div>
    </form>
</div>