<div class="innerLR" ng-controller="MedcardController"  ng-init="getMedcard(getIdFromUrl())">
    <div class="box-generic">
        <!-- tabs heading -->
        <div class="tabsbar tabsbar-2">
            <ul class="row">
                <li class="col-md-2 active">
                    <a href="#tab1" data-toggle="tab">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="col-md-9">
                                Пацієнт
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a href="#tab2" data-toggle="tab">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-stethoscope"></i>
                            </div>
                            <div class="col-md-9">
                                Лікування
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a href="#tab3" data-toggle="tab">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="col-md-9">
                                Запис
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a href="#tab4" data-toggle="tab">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="col-md-9">
                                Діагностика
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a href="#tab5" data-toggle="tab">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="col-md-9">
                                Щоденник
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a href="#tab6" data-toggle="tab">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="col-md-9">
                                Спеціалісти
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- tabs heading -->
        <!-- tab-content -->
        <div class="tab-content">
            <!-- tab1 -->
            <?php require_once 'view_patient.phtml'; ?>
            <!-- /tab1 -->
            <!-- tab2 -->
            <?php require_once 'view_treatment.phtml'; ?>
            <!-- /tab2 -->
            <!-- tab3 -->
            <?php require_once 'view_record.phtml'; ?>
            <!-- /tab3 -->
            <!-- tab4 -->
            <?php require_once 'view_diagnosis.phtml'; ?>
            <!-- /tab4 -->
            <!-- tab5 -->
            <?php require_once 'view_diary.phtml'; ?>
            <!-- /tab5 -->
            <!-- tab6 -->
            <?php require_once 'view_specialists.phtml'; ?>
            <!-- /tab6 -->
        </div>
        <!-- /tab-content -->
    </div>
</div>