<div class="tab-pane active" id="tab1">
    <form class="form-horizontal" name="form" role="form" id="jForm">
        <div class="row innerLR" ng-controller="PatientController">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">Загальні дані</h4>
                </div>
                <div class="widget-body">
                    <div class="preloaderbg">
                        <div id="preloader">
                            <img src="/images/467.GIF" alt="AJAX loader" title="AJAX loader" />
                        </div>
                    </div>
                    <div class="row" id="medcard" style="visibility: hidden;">
                        <div class="col-md-6">
                            <div class="form-group mgnB-10">
                                <label for="name3" class="col-sm-2 control-label">Номер медкарти</label>
                                <div class="col-sm-8 input-group">
                                    <div class="input-group-addon">{{medcard.number.substr(0, 5)}}</div>
                                    <input type="text" name="id" class="form-control" placeholder="#" ng-model="medcard.subNumber">
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="hosp3" class="col-sm-2 control-label">Госпіталізація</label>
                                <div class="col-sm-5">
                                    <input type="date" class="form-control" name="hospitalization" id="hosp3" ng-model="medcard.hospDate.date">
                                </div>
                                <div class="col-sm-3">
                                    <input type="time" class="form-control" name="hospitalizationTime" id="hosp4" ng-model="medcard.hospDate.date">
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="surname3" class="col-sm-2 control-label">Прізвище</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="lastname" id="surname3" ng-pattern="/^[^0-9]+/" ng-model="medcard.patient.lastname">
                                    <div class="alert alert-error invalid" ng-show="form.lastname.$error.pattern" >
                                        <i class="fa fa-exclamation"></i> Прізвище не повинно містити цифр
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="name3" class="col-sm-2 control-label">Ім'я</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" id="name3" ng-pattern="/^[^0-9]+/" ng-model="medcard.patient.name">
                                    <div class="alert alert-error invalid" ng-show="form.name.$error.pattern" >
                                        <i class="fa fa-exclamation"></i> Ім'я не повинно містити цифр
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="patron3" class="col-sm-2 control-label">По-батькові</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="patronymic" id="patron3" ng-pattern="/^[^0-9]+/" ng-model="medcard.patient.patronymic">
                                    <div class="alert alert-error invalid" ng-show="form.patronymic.$error.pattern" >
                                        <i class="fa fa-exclamation"></i> Поле по-батькові не повинно містити цифр
                                    </div>
                                </div>
                            </div>
                            <div  class="form-group">
                                <label for="rh_factor3" class="col-sm-2 control-label">Стать</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" value="1" ng-model="medcard.patient.sex">Чоловіча
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="2" ng-model="medcard.patient.sex">Жіноча
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="birthday3" class="col-sm-2 control-label" style="padding-top: 0px;">Дата народження</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="born" id="birthday3" ng-model="medcard.patient.born.date">
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="separation3" class="col-sm-2 control-label">Відділення</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-controller="SeparationController" ng-init="allSeparation()" ng-model="medcard.separation">
                                        <option ng-repeat="separation in separations" value="{{separation.id}}">{{separation.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label class="col-sm-2 control-label" for="gospDate3">Номер палати</label>
                                <div class="col-sm-8">
                                    <input type="number" id="gospDate3" name="gospDate" class="form-control" min="1" step="1" ng-model="medcard.chamber">
                                </div>
                            </div>
                            <div style="margin-bottom: 25px;" class="form-group mgnB-10">
                                <label for="rh_factor3" class="col-sm-2 control-label" style="padding-top: 0px;">В поточному році</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" value="1" ng-model="medcard.currentYearHosp">вперше
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="2" ng-model="medcard.currentYearHosp">повторно
                                    </label>
                                </div>
                            </div>
                            <div id="bloodType_id3" class="form-group mgnB-10">
                                <label for="bloodType_id" class="col-sm-2 control-label">Група крові</label>
                                <div class="col-sm-8">
                                    <select id="bloodType_id" name="bloodType" data-placeholder="Не выбрано" style="width:100%;" 
                                            class="form-control" ng-model="medcard.patient.bloodType">                                                
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="rh_factor3" class="col-sm-2 control-label">Резус-фактор</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="rhFactor" id="rh1" value="+" ng-model="medcard.patient.rhFactor"> Позитивний
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="rhFactor" id="rh2" value="-" ng-model="medcard.patient.rhFactor"> Негативний
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label class="col-sm-2 control-label" for="gospDate3">Категорія</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-controller="CategoryController" ng-init="allCategories()" ng-model="medcard.patient.category">
                                        <option ng-repeat="category in categories" value="{{category.id}}">{{category.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="rh_factor3" class="col-sm-2 control-label">Педикульоз</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="pediculosis" value="1" ng-model="medcard.pediculosis">Так
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="pediculosis" value="0" ng-model="medcard.pediculosis">Ні
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="rh_factor3" class="col-sm-2 control-label">Гепатит</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="hepatitis" value="1" ng-model="medcard.hepatitis">Так
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="hepatitis" value="0" ng-model="medcard.hepatitis">Ні
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="rh_factor3" class="col-sm-2 control-label">Огляд на коросту</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="scabInspection" value="1" ng-model="medcard.scabInspection">Так
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="scabInspection" value="0" ng-model="medcard.scabInspection">Ні
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" style="margin-bottom: 15px;">
                                    <label for="rh_factor3" class="col-sm-3 control-label">Пульс</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" ng-model="medcard.pulseValue">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 15px;">
                                    <label for="rh_factor3" class="col-sm-3 control-label">Температура</label>
                                    <div class="col-sm-3">
                                        <input type="number" step="0.1" class="form-control" ng-model="medcard.temperatureValue">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-controller="LocationController">
                            <div class="form-group mgnB-10">
                                <label for="RW3" class="col-sm-2 control-label">RW</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="RW" id="RW3" ng-model="medcard.patient.rw.date">
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="infection3" class="col-sm-2 control-label">RW (аналіз)</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="rwStatus" value="1" ng-model="medcard.patient.rwStatus">Так
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="rwStatus" value="0" ng-model="medcard.patient.rwStatus">Ні
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="infection3" class="col-sm-2 control-label">Віл-інфекція (аналіз)</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="infection" id="infection3" ng-model="medcard.patient.hivInfection.date">
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="infection3" class="col-sm-2 control-label">Віл-інфекція</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="hiv" value="1" ng-model="medcard.patient.hivStatus">Так
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="hiv" value="0" ng-model="medcard.patient.hivStatus">Ні
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="sensitivity3" class="col-sm-2 control-label">Чутливість до препаратів</label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control" name="sensitivity" id="sensitivity3" ng-maxlength='100' ng-model="medcard.patient.sensitivity"></textarea>
                                    <div class="alert alert-error invalid" ng-show="form.sensitivity.$error.maxlength" >
                                        <i class="fa fa-exclamation"></i> Поле чутливість не повинно перевищувати 100 символів
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 20px;">
                                <label for="rh_factor3" class="col-sm-2 control-label">Проживання</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="cityType" value="1" ng-model="medcard.patient.location.localityType" > Місто
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="cityType" value="2" ng-model="medcard.patient.location.localityType" > Село
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mgnB-10" ng-init="getRegions()">
                                <label for="adress3" class="col-sm-2 control-label" style='clear: both;'>область</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="reg" ng-change="getLocalities(reg)"
                                            ng-options="region.id as region.title for region in regions">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="area3" class="col-sm-2 control-label" style='clear: both;'>район</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="area" id="area3" ng-model="medcard.patient.location.area" />
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="adress3" class="col-sm-2 control-label">населений пункт</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="medcard.patient.location.locality"
                                            <!--ng-options="locality as locality.title for locality in localities">-->
                                            >
                                            <option ng-repeat="loc in localities" value="{{loc.id}}" ng-selected="{{medcard.patient.location.locality === loc.id}}">{{loc.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="area3" class="col-sm-2 control-label" style='clear: both;'>Адреса</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="area" id="area3" ng-model="medcard.patient.location.address" />
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="adress3" class="col-sm-2 control-label">номер телефону</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="address" id="adress3" ng-model="medcard.patient.phone"/>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="adress3" style="padding-top: 0px;" class="col-sm-2 control-label" data-toggle="tooltip" data-placement="top" title="для приїжджих">проживання родичів</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="address" id="adress3" ng-model="medcard.patient.parentsAddress"/>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="adress3" class="col-sm-2 control-label">Місце роботи</label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control" name="workplace" id="adress3" ng-maxlength='100' ng-model="medcard.patient.workplace"></textarea>
                                    <div class="alert alert-error invalid" ng-show="form.workplace.$error.maxlength" >
                                        <i class="fa fa-exclamation"></i> Місце роботи не повинно перевищувати 100 символів
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="adress3" class="col-sm-2 control-label" style="padding-top: 0px;">Ким направлений</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="address" id="adress3" ng-model="medcard.sender">
                                </div>
                            </div>
                            <div class="form-group" ng-controller="FoodController" ng-init="allFood()">
                                <label for="adress3" class="col-sm-2 control-label" style="padding-top: 0px;">Харчування</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="medcard.food">
                                        <option ng-repeat="item in food" value="{{item.id}}">{{item.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="rh_factor3" style="padding-top: 0px;" class="col-sm-3 control-label">Тиск (систолічний)</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" ng-model="medcard.pressureTop">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="rh_factor3" style="padding-top: 0px;" class="col-sm-3 control-label">Тиск (діастолічний)</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" ng-model="medcard.pressureLower">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row innerLR">
            <div class="widget" ng-controller="HospitalizationController">
                <div class="widget-head">
                    <h4 class="heading">Госпітализація</h4>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-4 form-horizontal">
                            <label><b>Госпіталізували у стаціонар</b></label>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="text-align: left; width: 60px;">Через</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" ng-model="medcard.hospitalization.afterHours">
                                </div>
                                <label class="col-sm-2 control-label" style="text-align: left; width: 30px;">годин</label>
                            </div>
                            <div class="form-group col-md-12" style="margin-top: 40px;">
                                <select class="form-control" ng-model="medcard.hospitalization.hospTerm">
                                    <option value="1">Термінові показання</option>
                                    <option value="2">Плановий порядок</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label style="margin-bottom: 0;">Діангоз закладу,</label> 
                                <label>який направив хворого</label>
                                <input type="text" class="form-control" ng-model="medcard.hospitalization.institutionDiagnosis">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Діангоз при госпитализації</label>
                                <input type="text" class="form-control" ng-model="medcard.hospitalization.hospitalizationDiagnosis">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>Діагноз клінічний</label>
                                <input type="text" class="form-control" ng-model="medcard.hospitalization.clinicalDiagnosis">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Дата встановлення</label>
                                <input type="date" class="form-control" ng-model="medcard.hospitalization.settingDate.date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    

        <div class="row innerLR">
            <div class="col-md-2">
                <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="updateMedcard(medcard)"><i class="fa fa-check"></i> Оновити</button>
            </div>
            <div class="col-md-3 col-md-offset-7">
                <button style="width: 104px;" id="download" name="download" class="btn btn-default" ng-click="downloadMedcard(medcard)"><i class="fa fa-print"></i> Друк</button>
                <button id="remove" name="remove" class="btn btn-danger" ng-click="removeMedcard(medcard)" ><i class="fa fa-remove"></i> Видалити</button>
            </div>
        </div>
    </form>
</div>