<script>$(document).ready(staffAdditionModule.start);</script>
<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Додавання працівника</h4>
        </div>
        <div class="widget-body">
            <div class="preloaderbg">
                <div id="preloader">
                    <img src="/images/467.GIF" alt="AJAX loader" title="AJAX loader" />
                </div>
            </div>
            <form name="addStaff" role="form" method="post" id="jForm" action="">
                <div class="row">
                    <!-- innerL-->
                    <div class="col-md-6">
                        <div class="innerL">
                            <div class="form-group">
                                <label for="login3">Логін</label>
                                <input type="text" id="login3" name="login" class="form-control" placeholder="Логін">
                            </div>
                            <div class="form-group">
                                <label for="pass3">Пароль</label>
                                <div class="row">
                                    <div class="col-md-8">                                        
                                        <input type="text" id="pass3" name="password" class="form-control" placeholder="Пароль">
                                    </div>                                    
                                    <div class="col-md-1">
                                        <button type="button" class="showPass"><i class="fa fa-eye"></i></button>
                                    </div>
                                    <div class="col-md-3">
                                        <button id="generate" class="btn btn-default pull-right">Генерувати</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name3">Ім'я</label>
                                <input type="text" id="name3" name="name" class="form-control" placeholder="Ім'я">
                            </div>
                            <div class="form-group">
                                <label for="surName3">Прізвище</label>
                                <input type="text" id="surName3" name="lastname" class="form-control" placeholder="Прізвище">
                            </div>
                            <div class="form-group">
                                <label for="patron3">По-батькові</label>
                                <input type="text" id="patron3" name="patronymic" class="form-control" placeholder="По-батькові">
                            </div>
                        </div>
                    </div>
                    <!-- /innerL-->
                    <!-- /innerR-->
                    <div class="col-md-6">
                        <div class="innerR">
                            <div class="form-group">
                                <label for="workplaces_id">Місце роботи</label>
                                <select name="workplaces" id="workplaces_id" data-placeholder="Не выбрано" style="width:100%;" multiple class="chosen-select">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="separations_id">Відділ</label>
                                <select name="separations" id="separations_id" data-placeholder="Не выбрано" style="width:100%;" multiple class="chosen-select">                     
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="posts_id">Посада</label>
                                <select name="posts" id="posts_id" data-placeholder="Не выбрано" style="width:100%;" multiple class="chosen-select">                                            
                                </select>
                            </div>
                            <div id="rolesA" class="form-group">
                                <label for="roles_id">Роль у системі</label>
                                <select name="roles" id="roles_id" data-placeholder="Не выбрано" style="width:100%;" class="chosen-select">                                                
                                </select>
                            </div>
                            <div style="padding-top: 27px;">
                                <button type="submit" id="send" name="enter" class="btn btn-primary"><i class="fa fa-plus"></i> Додати працівника</button>                       
                            </div>
                        </div>
                        <!-- /innerR-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>