﻿<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/images/medius.ico" type="image/x-icon">
        <title>Авторизація</title>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/bootstrap.css')
                ->prependStylesheet($this->basePath() . '/css/styles.css')
                ->prependStylesheet($this->basePath() . '/css/font-awesome-4.2.0/css/font-awesome.min.css')
        ?>
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath() . '/old/scripts.js')
                ->prependFile($this->basePath() . '/old/staff-auth-module.js')
                ->prependFile($this->basePath() . '/old/medicus-api.js')
                ->prependFile($this->basePath() . '/old/medicus-common.js')
                ->prependFile($this->basePath() . '/vendor/bootstrap.min.js')
                ->prependFile($this->basePath() . '/vendor/jquery-1.11.1.js')
        ;
        ?>
    </head>
    <body>
        <script>$(document).ready(staffAuthModule.start);</script>
        <div class="login">
            <!-- Wrapper -->
            <div id="login">
                <div class="container">
                    <div class="wrapper">
                        <h1>MEDIUS <i class="fa fa-lock"></i></h1>
                        <!-- Box -->
                        <div class="widget">
                            <div class="widget-head">
                                <h3 class="heading">Вхід</h3>
                            </div>
                            <div class="widget-body">
                                <!-- Form -->
                                <form id="loginForm" method="post" action="" role="form">
                                    <div class="form-group">
                                        <label for="id=login3">Логін</label>
                                        <input type="text" name="login" id="login3" class="form-control" placeholder="Логин"> 
                                    </div>
                                    <div class="form-group">
                                        <label for="password3">Пароль</label>
                                        <input type="password" name="password" id="password3" class="form-control" placeholder="Пароль">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Запам'ятати мене
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-5 ">
                                            <button class="btn btn-block btn-primary" type="submit">Увійти <i class="fa fa-sign-in"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <!-- // Form END -->
                            </div>
                        </div>
                        <!-- // Box END --> 
                    </div>
                </div>
            </div>
            <!-- // Wrapper END -->	
        </div>
    </body>
</html>