<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Робота з системою MEDIUS</h4>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div>
                        Зайшовши у систему користувачеві потрібно розібратись у меню, яке розташоване
                        у верхній частині екрану.
                    </div>
                    <div class="separator"></div>
                    <div>
                        <img width="100%" src="/images/help images/1.png">
                    </div>
                    <div class="separator"></div>
                    <div>Отже пройдемося по кожній вкладці окремо.</div>
                    <div>
                        <ol>
                            <li>
                                <p>Перейшовши на вкладку «Управління», перед користувачем відкривається таке вікно</p>
                                <img width="100%" src="/images/help images/2.png">
                                <div class="separator"></div>
                                <p>
                                    Тут користувач може продивитись категорії пацієнтів, відділення лікарні та посади
                                    (які можуть займати працівники) у відповідних розділах. Окрім цього є можливість додавання,
                                    оновлення та видалення записів.
                                </p>
                                <p>
                                    Роздивимось на прикладі «категорій пацієнтів» як здійснювати управління цими записами.
                                </p>
                                <img width="50%" src="/images/help images/3.png">
                                <div class="separator"></div>
                                <p>
                                    Щоб додати категорію пацієнтів потрібно просто ввести назву в поле та натиснути кнопку
                                    «Додати», яка знаходиться навпроти текстового поля.
                                </p>
                                <p>
                                    Для оновлення запису потрібно двічі натиснути ліву кнопку миші (ЛКМ) по комірці яка буде
                                    редагуватись, після чого з’явиться поле для вводу інформації і в ньому вписати потрібний текст.
                                </p>
                                <img width="50%" src="/images/help images/4.png">
                                <div class="separator"></div>
                                <p>
                                    Для закінчення операції потрібно натиснути кнопку «Оновити».
                                <p>
                                    Видалення запису відбувається натисканням кнопки «Видалити» навпроти обраної назви. 
                                </p>
                                <p>
                                    Щоб проводити ті самі дії над записами інших розділів вкладки «Управління» потрібно провести 
                                    кроки, описані вище.
                                </p>
                                <div class="separator-line"></div>
                            </li>
                            <li>
                                <p>
                                    Пункт меню «Персонал» має випадаючий список в якому містяться пункти: «Всі» та «Додати».
                                </p>
                                <p>
                                    При виборі пункту «Додати» користувач потрапляє у наступне вікно
                                </p>
                                <img width="100%" src="/images/help images/5.png">
                                <div class="separator"></div>
                                <p>
                                    У цьому вікні вводиться інформація про працівника якого буде додано у систему. Натиснувши 
                                    кнопку «Додати працівника» користувач формує новий запис у системі.
                                </p>
                                <p>
                                    Якщо відкрити пункт меню «Всі», то можна побачити всіх працівників, які знаходяться у 
                                    системі.
                                </p>
                                <img width="100%" src="/images/help images/6.png">
                                <div class="separator"></div>
                                <p>
                                    Користувач сам може обирати кількість записів, які будуть одночасно відображатись на екрані.
                                    Для того щоб оновити інформацію персоналу, достатньо натиснути на потрібний запис у таблиці,
                                    після чого відкриється вікно оновлення.
                                </p>
                                <img width="100%" src="/images/help images/7.png">
                                <div class="separator"></div>
                                <p>
                                    Після того, як коригування буде виконано, для збереження потрібно натиснути кнопку «Оновити».
                                    Для видалення працівника із системи слід натиснути кнопку «Видалити», у вікні «оновлення».
                                </p>
                                <div class="separator-line"></div>
                            </li>
                            <li>
                                <p>
                                    Пункт «Медкарти» також має два підпункти: «Всі» та «Додати».
                                </p>
                                <p>
                                    При виборі пункту «Додати» користувач потрапляє у наступне вікно
                                </p>
                                <img width="50%" src="/images/help images/8.png">
                                <div class="separator"></div>
                                <p>
                                    У цьому вікні потрібно вписати лише номер медкарти та натиснути кнопку «Додати». Після цього
                                    буде створений новий запис у системі і створену картку можна буде побачити у вікні «Медкарти»
                                    , обравши підпункт «Всі» пункту меню «Медкарти».
                                </p>
                                <img width="100%" src="/images/help images/9.png">
                                <div class="separator"></div>
                                <p>
                                    Після натискання на один із записів у таблиці відкриється приблизно таке вікно
                                </p>
                                <img width="100%" src="/images/help images/10.png">
                                <img width="100%" src="/images/help images/11.png">
                                <div class="separator"></div>
                                <p>
                                    Як видно у цьому вікні є 5 вкладок. На кожній з цих вкладок користувач вводить дані про 
                                    пацієнта у відповідні поля, а за допомогою кнопки «Оновити»(яка знаходиться на кожній 
                                    сторінці) будуть збережені зміни.
                                </p>
                                <p>
                                    На вкладці «Пацієнт» знаходяться дві додаткові кнопки: «Друк» та «Видалити». Перша з них 
                                    завантажує документ, в якому відображено всі введені користувачем дані про пацієнта, тобто
                                    з’являється документ готовий для друку. Друга кнопка, «Видалити» - повністю видаляє запис 
                                    про пацієнта.
                                </p>
                                <p>
                                    На деяких вкладках є дані, які відображуються в таблиці.
                                </p>
                                <img width="50%" src="/images/help images/12.png">
                                <p>
                                    Щоб додати дані до таблиці достатньо двічі натиснути ліву кнопку миші (ЛКМ) по комірці яка 
                                    буде редагуватись, після чого з’явиться поле для вводу інформації і в ньому вписати потрібний
                                    текст. Після внесення всіх коректив потрібно натиснути зелену кнопку, щоб запис зберігся. Для
                                    оновлення запису потрібно зробити вище зазначені кроки.
                                </p>
                                <div class="separator-line"></div>
                            </li>
                            <li>
                                <p>
                                    Останній пункт головного меню «МКБ-10». Тут знаходиться довідкова інформація про захворювання
                                    , яка має ієрархічну будову «Класи – Блоки – Діагнози».
                                </p>
                                <img width="100%" src="/images/help images/13.png">
                                <div class="separator-line"></div>
                                <p>
                                    Спочатку відображаються класи захворювань. Якщо клацнути ЛКМ по одному із записів, то можна 
                                    перейти до блоків, які відносяться до певного класу захворювань. Клацнувши ЛКМ на блоці можна
                                    перейти до діагнозів, які відповідають обраному блоку.
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
