<div class="list-patient" ng-hide="showPanels">
    <div ng-hide="showReplyForm">
        <form name="formreply">
            <label>Карточка</label><br/>
            <input ng-model="replyPatient.card" type="text" class="form-control"/><br/>
            <label>Имя</label><br/>
            <input ng-model="replyPatient.name" type="text" class="form-control"/><br/>
            <button ng-click='hideFormReply();
                replyPatient.card = null;
                replyPatient.name = null' class="btn btn-sm btn-danger"><i></i>Отмена</button>
            <button ng-click="updatePatient(replyPatient.id)" class="btn btn-sm btn-primary">Сохранить</button>
        </form>
    </div>
    <div ng-show="showReplyForm">
        <input type="search" ng-model="searchtable" placeholder="Поиск" class="form-control">
        <table  class="table  table-condensed">
            <hr>
            <tr>
                <th>
                    Номер карты
                </th>
                <th>
                    Имя пациента
                </th>
                <th>
                </th>
            </tr>
            <tr ng-repeat="medcard in medcards| filter:searchtable | orderBy:'id'">
                <td>{{medcard.number}} </td> <td>{{medcard.patient.lastname}} {{medcard.patient.name}} {{medcard.patient.patronymic}} </td> 
                <td>
                    <!--
                    <button ng-click='deletePatient(patient.idpatients)' class='btn btn-xs btn-danger'> <i class='glyphicon glyphicon-remove'></i> Удалить </button>
                    <button ng-click='showingReplyPatientData(patient)' class='btn btn-xs btn-primary'> <i class='glyphicon glyphicon-edit'></i> Редактировать </button>
                    -->
                </td>       
            </tr>
        </table>
    </div>
</div>