<h4>Пульс
    <div class="pull-right">
        <button ng-click="toggleDeletePulse()" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove-sign"></i> Удалить</button>
        <button  ng-click="togglePulseForm();
                pulsedate = null;
                addpulse = null" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> Добавить</button>
    </div>

</h4>

<p class="clearfix"></p>
<div  ng-show="showDeletePulse">
    <div>
        <span ng-repeat='tItem in pulseList track by $index'>
            {{tItem.date.date}} 
            <a href="" ng-click="deletePulse(tItem.id, selectedMedcard)">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </span>
    </div>
</div>
<form name="pulseform" ng-show="showPulseForm">
    <label>Дата</label>
    <input type="text" ng-model="pulsedate" class="form-control"/><br/>
    <label>Пульс</label>
    <input ng-model="addpulse" type="text" class="form-control"/> {{addtemp}}<br/>
    <button ng-click="togglePulseForm()" class="btn btn-sm btn-danger">Отменить</button>
    <button ng-click="addPulse(selectedMedcard, pulsedate, addpulse)" class="btn btn-sm btn-primary">Добавить</button>
    <hr/>
</form>


<table class="table table-hover">
    <tr>
        <th ng-repeat="value in pulsedates">
            {{value}}
        </th>
    </tr>
    <tr>
        <td ng-repeat="value in pulses track by $index">
            {{value}}
        </td>
    </tr>
</table>


