<h4>Температура 
    <div class="pull-right">
        <button ng-click="toggleDeleteTemp()" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove-sign"></i> Удалить</button>
        <button ng-click="toggleTemperatureForm(); tempdate = null; addtemp = null" class=" btn btn-xs btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> Добавить</button>
    </div>
</h4>

<p class="clearfix"></p>
<div ng-show="showDeleteTemp">
    <div>
        <span ng-repeat='tItem in temperatures track by $index'>
            {{tItem.date.date}} 
            <a href="" ng-click="deleteTemp(tItem.id, selectedMedcard)">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </span>
    </div>
</div>
<form name="tempform" ng-show="showTempForm">
    <label>Дата</label>
    <input type="text" ng-model="tempdate" class="form-control" required><br/>
    <label>Температура</label>
    <input ng-model="addtemp" type="text" class="form-control" required/> <br/>
    <button ng-click="toggleTemperatureForm()" class="btn btn-sm btn-danger">Отменить</button>
    <button  ng-click="addTemp(selectedMedcard, tempdate, addtemp)" class="btn btn-sm btn-primary">Добавить</button>
    <hr/>
</form>
<table class="table table-hover">
    <tr>
        <th ng-repeat='datetemp in tempdates track by $index'>
            {{datetemp}}
        </th>
    </tr>
    <tr>
        <td ng-repeat='tempvalue in tempvalues track by $index'>
            {{tempvalue}}
        </td>
    </tr>
</table>

