<script>$(document).ready(icdIndexModule.start)</script>
<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">МКБ-10</h4>
        </div>
        <div class="widget-body">
            <div class="preloaderbg">
                <div id="preloader">
                    <img src="/images/467.GIF" alt="AJAX loader" title="AJAX loader" />
                </div>
            </div>
            <div class="innerLR" id="classesList">
                <div class="row">
                    <div class="col-md-9">
                        <h4>Класи</h4>
                    </div>
                    <div class="col-md-3">
                        <input id="search" type="search" class="form-control" placeholder="Пошук...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>