<div class="innerLR row">
    <div ng-controller="CategoryController" ng-init="allCategories()">
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">Категорії пацієнтів</h4>
                </div>
                <div class="widget-body">
                    <div class="gridStyle" ng-grid="categoryGrid"></div>
                    <div class="row">
                        <div class="col-md-7">
                            <input class="form-control" type="text" ng-model="newCategory.title"/>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" ng-click="addCategory(newCategory)"><i class="fa fa-plus"> Додати</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="SeparationController" ng-init="allSeparation()">
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">Відділення</h4>
                </div>
                <div class="widget-body">
                    <div class="gridStyle" ng-grid="separationGrid"></div>
                    <div class="row">
                        <div class="col-md-7">
                            <input class="form-control" type="text" ng-model="newSeparation.title"/>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" ng-click="addSeparation(newSeparation)"><i class="fa fa-plus"> Додати</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="innerLR row">
    <div ng-controller="PostController" ng-init="allPost()">
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">Посади</h4>
                </div>
                <div class="widget-body">
                    <div class="gridStyle" ng-grid="postGrid"></div>
                    <div class="row">
                        <div class="col-md-7">
                            <input class="form-control" type="text" ng-model="newPost.title"/>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" ng-click="addPost(newPost)"><i class="fa fa-plus"> Додати</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-controller="ContractController" ng-init="allContracts()">
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">Контракти</h4>
                </div>
                <div class="widget-body">
                    <div class="gridStyle" ng-grid="contractGrid"></div>
                    <div class="row">
                        <div class="col-md-7">
                            <input class="form-control" type="text" placeholder="Найменування" ng-model="newContract.title"/>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" type="text" placeholder="№  договору (термін дії)(дод.угоди)" ng-model="newContract.description"/>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" type="text" placeholder="Предмет договору" ng-model="newContract.subject"/>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" ng-click="addContract(newContract)"><i class="fa fa-plus"> Додати</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="innerLR row">
    <div ng-controller="FoodController" ng-init="allFood()">
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">Харчування</h4>
                </div>
                <div class="widget-body">
                    <div class="gridStyle" ng-grid="foodGrid"></div>
                    <div class="row">
                        <div class="col-md-7">
                            <input class="form-control" type="text" ng-model="newFood.title"/>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" ng-click="addFood(newFood)"><i class="fa fa-plus"> Додати</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>